@model ContactVM

@{
    ViewData["Title"] = "Contact";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<table class="table table-bordered table-hover table-responsive" style="padding-top:30px;">
    <thead>
        <tr>
            <th>Icon</th>
            <th>Title</th>
            <th>Address</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{int count = 1;}
        @foreach (var item in Model.contactAdresses)
        {
            <tr>
               
                <td>
                    @item.Icon
                </td>
                <td>
                    @item.Title
                </td>
                <td>
                    @item.Desc
                </td>
                <td style="vertical-align: middle; text-align: center;">
                    <a title="See details" asp-action="Details" asp-route-id="@item.Id" class="btn btn-success"><i class="fas fa-eye"></i></a>
                    <a title="Edit Client" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning"><i class="fas fa-edit"></i></a>
                    <a title="Delete" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger"><i class="fas fa-trash"></i></a>

                </td>
            </tr>
            count++;
        }
    </tbody>
</table>

