@model AboutVM
@{
    ViewData["Title"] = "Team";
     Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<div class="container-fluid">
    <div class="row" style="margin: 30px 0;">
        <div class="col-12">
            <a asp-action="Create" class="btn btn-primary btn-block">
                <i class="fas fa-plus"></i> Create New Team
            </a>
        </div>
    </div>
</div>

<table class="table table-bordered table-hover table-responsive">
    <thead>
        <tr>
            <th>Image</th>
            <th>Name</th>
            <th>Info</th>
            <th>Email</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{int count = 1;}
        @foreach (var item in Model.teams)
        {
            <tr>
                <td>
                    <img style="width: 150px;" src="~/img/@item.Image" class="img-thumbnail" />
                </td>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.Info
                </td>
                <td>
                    @item.Email
                </td>
                <td style="vertical-align: middle; text-align: center;">
                    <a title="See details" asp-action="Details" asp-route-id="@item.Id" class="btn btn-success"><i class="fas fa-eye"></i></a>
                    <a title="Edit Team" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning"><i class="fas fa-edit"></i></a>
                    <a title="Delete" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger"><i class="fas fa-trash"></i></a>
                  
                </td>
            </tr>
  count++;
        }
    </tbody>
</table>

